body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.deliveries-widget__row-1[under-min-spend='true'] > div {
  background: red;
}

.deliveries-widget__row-1[order-status-ok='true'] > div {
  background: green;
}

.deliveries-widget__row-1[basket-is-empty='true'] > div {
  background: gray;
}
